.header {
    background: #40787d;
    height: 80px;
    width: 100%;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    margin-right: 15px;
    width: 35%;
    background: #e0e2ec;
    --mdc-outlined-text-field-container-shape: 28px;
    border-radius: 28px;
}

.logo {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.title {
    color: #e0e2ec;
    font-size: xx-large;
}

.logo-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

