.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 100px);
    padding-bottom: 10px;
}

.width {
    width: 100%;
}

.paginator {
    height: 50px;
    background: #e0e2ec;
}