<div class="center">
    <button routerLink="/joke/{{joke.id}}" mat-fab extended class="joke-button">
        <div class="button-contents">
            <div class="joke">
                {{joke.joke}}
            </div>
            <div class="bottom">
                <div class="align">
                    <mat-icon>{{likeIcon}}</mat-icon> 
                    <div>{{numLikes}}</div>
                </div>
                <mat-icon>{{saveIcon}}</mat-icon>
            </div>
        </div>
    </button>
</div>


