.container {
    height: 100%;
}

.topbars {
    position: sticky;
    top: 0;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
    z-index: 50;
}

.nav-bar {
    background: #e0e2ec;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #40787d;
    min-height: calc(100% - 278.8px);
}

.main-content {
    display: flex;
    justify-content: center;
    width: 50%;
    background: #e0e2ec;
}

.main-content mat-tab-nav-panel {
    width: 100%;
}